{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Exercise!</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest'%}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'find_exe.css' %}">
</head>
<body>
    <div class = "initial">
        <div class = "inner-fill">
    <h1 class="header pb-0 mb-0 pl-0" style="text-align: center; font-weight: 700;">Exercise Catalog</h1>
    <p class="text-muted" style="text-align: center; margin: 2% 5% 2% 5%;">Get inspired and build your next workout from our extensive library of workouts.</p>
    <hr>
    <div class="boxes">
        <!--Display muscle groups-->
        <div class="selection-box">
            <h5 style="padding-left: 1%;">Select a muscle from the list below:</h5>
            <div class="muscle-container">
                <div class="vertical-container">
                    <form action='117' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button9_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Hips</Button>  
                    </form>
                    <form action='118' method='POST'>
                        {% csrf_token %}                  
                        <Button class="{{classes.button10_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Buttocks</Button>
                    </form>
                    <form action='119' method='POST'>
                        {% csrf_token %}                  
                        <Button class="{{classes.button13_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Quads</Button>
                    </form>
                    <form action='120' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button11_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Hamstrings</Button>
                    </form>
                    <form action='121' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button12_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Calves</Button>
                    </form>
                </div>
                <div class="vertical-container">
                    <form action='110' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button4_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Trapezius</Button>
                    </form>
                    <form action='111' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button5_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Shoulders</Button>
                    </form>
                    <form action='112' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button6_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Triceps</Button>
                    </form>
                    <form action='113' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button7_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Biceps</Button>
                    </form>
                    <form action='114' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button8_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Forearms</Button> 
                </form>                   
                </div>
                <div class="vertical-container">
                    <form action='101' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button14_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Cardio</Button>
                    </form>
                    <form action='102' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button1_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Chest</Button>
                    </form>
                    <form action='106' method='POST'>
                        {% csrf_token %}
                        <button class="{{classes.button2_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Back</Button>
                    </form>
                    <form action='103' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button3_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Abs</Button>
                    </form>
                    <form action='104' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button15_class}}" style="width: 95%; margin: 0.2vw; line-height: 1.2;">Obliques</Button>
                    </form>
                </div>
                <div class="full-container">
                    <form action='100' method='POST'>
                        {% csrf_token %}
                        <Button class="{{classes.button9_class}}" style="width: 100%; line-height: 1.2;">View All Exercises</Button>  
                    </form>
                </div>
            </div>
            <img src="{{body_diagram}}" class="body-map">
        </div>

        <!--Display exercise welcome message-->
        {% if active_exercise == 0 %}
            <div class="exercises-box">
                <div class="header">
                    <img src="{% static 'exerciseImages/getStarted.jpg' %}" class="exercises-box-img">
                    <div class="exercises-box-text">
                        <h1 class="title">On your marks... Get set... Go!</h1></br>
                        <h3 class="subtitle">Select a muscle group or exercise category to get started</h3>
                        <h6 class="subtitle">or click below to see the full list:</h3></br></br>
                        <form action='100' method='POST'>
                            {% csrf_token %}
                            <Button class="btn btn-default btn-lg">See full list</Button>  
                        </form>
                    </div>
                </div>
            </div>
        <!--Display exercise list-->
        {% else %}
            <div class="exercises-box-overflow">
            <!--Alert message-->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
                <h5 style="padding-left: 10px;">Recommended exercises: </h5>
                {% for exercise in exercises %}
                    <div class="exercise">                     
                        <img src="{% static 'exerciseImages/'|add:exercise.image_link %}" class="exercise-image">
                        <p class="exercise-text" style="margin-bottom: 5px;">
                            <!--Pending: populate exercise log with selected exercise-->
                            <strong>{{exercise.name}}</strong></br>
                            <em style="font-size: 80%;">Category: {{exercise.group}}</em></br>
                        </p>   
                        <p class="exercise-text">
                            {{exercise.description}}
                        </p>                      
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    </div>
    <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    </ul>
    <p class="copyright">
        <a href="/">wellQuest</a><br>
        Team - BitVibe
    </p>
</div>
</body>
</html>